.main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  /* fallback for older browsers */
  background: #22c1c3;
  background: linear-gradient(to right, #fdbb2d, #22c1c3);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-container > svg {
  margin-top: 25px;
  width: 150px;
  height: 150px;
  stroke-width: 3px;
}

button {
  display: flex;
  justify-content: center;
  border: solid black;
}

.forecast-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.forecast-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
  width: 10vw;
  min-height: 25vh;
  border: solid black;
}

.five-day-forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.forecast-item {
  border: solid black;
}
